{{ '{' }}% extends 'portal.html' %{{ '}' }}
{{ '{' }}% block title %{{ '}' }}
    {{ '{{' }} module_name {{ '}}' }}
{{ '{' }}% endblock %{{ '}' }}
{{ '{' }}% block content %{{ '}' }}
<p>This is the default template for your new module "{{ '{{' }} module_name {{ '}}' }}".</p>
<p>This template is provided as part of the ROSEHIPS project which is a consortium between the following universities:</p>
<ul>
    {{ '{' }}% for university in universities %{{ '}' }}
        <li>{{ '{{' }} university {{ '}}' }}</li>
    {{ '{' }}% endfor %{{ '}' }}
</ul>
{{ '{' }}% endblock %{{ '}' }}